{% load i18n %}

<form action="{% url "comment_item" content_type_pk=form.initial.content_type.pk object_pk=form.initial.object_pk %}" method="post">
    {% csrf_token %}

    {{  form.honeypot }}
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.site }}
    {{ form.security_hash }}

    {% if not user.is_authenticated %}
        {{ form.user_name }}
        {{ form.user_email }}
    {% else %}
        {{ form.user }}
    {% endif %}

    {{ form.comment }}
    <div>
        <a href="javascript:void(0);" class="post_comment">{% trans "Send" %}</a>
    </div>
</form>