{% load i18n %}

<form action="{% url "comment_edit" pk=form.instance.pk %}" method="post">
    {% csrf_token %}

    {{ form.honeypot }}
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.site }}
    {{ form.security_hash }}

    {% if not user.is_authenticated %}
        {{ form.user_name }}
        {{ form.user_email }}
    {% else %}
        {{ form.user }}
    {% endif %}

    {{ form.comment }}
    <div>
        <a href="javascript:void(0);" class="edit_comment">{% trans "Send" %}</a>
    </div>
</form>